body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: black;
  text-align: center;
  margin: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  border-radius: 20px; /* Rounded corners */
  padding: 10px 20px; /* Larger buttons */
}

nav a:hover {
  color: lightgrey;
}

button {
  margin: 5px;
  padding: 12px 24px; /* Larger buttons */
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px; /* Rounded corners */
}

button:hover {
  background-color: #555;
}

#content {
  padding: 20px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.uploaded-image {
  width: 100%; /* Each image takes full width */
  max-width: 300px; /* Max width for better scalability */
  height: auto;
  object-fit: cover;
  border: 1px solid grey;
  border-radius: 10px; /* Rounded corners */
  margin: 20px 0; /* Added margin between images */
}
